<ion-header>
  <ion-toolbar>
    <ion-title>
      Router Administrator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
		
 <ion-button (click)="openWebPage()" >logIn</ion-button>

 <br>
 <ion-button (click)="presentAlert()">Chech UID</ion-button> 

 <br>
<ion-button (click)="checkConnection()">Check Network Type</ion-button>
<br>
<ion-button >Check Mac address</ion-button>
<br>
<ion-button>Data Usage</ion-button>
<br>
<ion-button>MAC Filtring</ion-button>



</ion-content>
